<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchProduct.AddItems()[pri:3, instance:Amazon.SearchProduct@82de64a]">AddItems</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:50</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchProduct.RemoveItems()[pri:4, instance:Amazon.SearchProduct@82de64a]">RemoveItems</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:50</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchProduct.addToCart()[pri:0, instance:Amazon.SearchProduct@82de64a]">addToCart</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:50</td>   <td>92</td> <td title="&lt;&lt;SearchProduct.afterTest()[pri:0, instance:Amazon.SearchProduct@82de64a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:45</td>   <td>-4700</td> <td title="&gt;&gt;SearchProduct.beforeTest()[pri:0, instance:Amazon.SearchProduct@82de64a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:47</td>   <td>-2925</td> <td>&nbsp;</td><td title="&gt;&gt;SearchProduct.initialize()[pri:0, instance:Amazon.SearchProduct@82de64a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>22/05/17 16:24:49</td>   <td>-231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchProduct.selectItem()[pri:1, instance:Amazon.SearchProduct@82de64a]">selectItem</td> 
  <td>main@65586123</td>   <td></td> </tr>
</table>
